*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.main-container {
  border: 2px solid skyblue;
  height: 300px;
  width: 600px;
  margin: auto;
  margin-top: 20%;
}

.content {
  text-align: center;
  margin-top: 50px;
}

.answer-container {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: auto;
  padding: 10px;
}

.hide {
  display: none;
}

.btn {
  margin-top: 10px;
  background: skyblue;
  border-radius: 10px;
}

.start-button {
  margin-top: 70px;
  padding: 10px 20px;
  border-radius: 10px;
  background: lightcoral;
}

.next-button {
  margin-top: 50px;
  background: rgb(203, 149, 203);
  padding: 5px 12px;
  border-radius: 10px;
  color: black;
  
}

.results-button {
  margin-top: 50px;
  background: lightgreen;
  padding: 5px 12px;
  border-radius: 10px;
  color: black;
  
}

.result-text {
  margin-top: 20px;
  font-style: italic;
}

.result-text.incorrect {
  color: red;
}

.result-text.correct {
  color: green;
}

.results-score {
  font-size: 1.2rem;
  color: black;
  text-align: center;
}

.initials-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 50px;
}

.initials-label {
  margin-right: 10px;
  color: green;
}

.initials {
  width: 40px;
  border-radius: 5px;
  background: whitesmoke;
  margin: auto;
  text-align: center;
  margin-top: 10px;
}

.submit-score-container {
  text-align: center;
  margin-top: 40px;
}

.submit-score {
  padding: 5px 7px;
  border-radius: 10px;
  background: skyblue;
}

